.new-tweet{
  width: 100%;
  margin:auto;
  border:solid 4px;
  border-color:rgb(68, 69, 70) ;
  background-color: #FFE192;  
  font-family: Bungee, sans-serif;
  color: #3455B3;

}

.text-box{
  width: 100%;
  height:50%;
  border: none;
  /* border-bottom: 3px solid; */
  background-color: #FFE192;  

  line-height: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

.btn {
  background-color: rgb(68, 69, 70);
  border: none;
  padding: 15px 32px;
  margin-left: 5px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 45%;
  color: whitesmoke;

}

h4{
  margin:auto;
  padding:10px 10px;
}

.bottombar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter{
padding-right:10px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.text2long{
  color:red;
  padding-right:10px;
  opacity: 0;
  position: relative;
  left: -8em;
}

.notext{
  opacity: 0;
}

.notextShow{
  opacity: 1;
}


.text2longShow{
  opacity: 1;
  position: relative;
  left: -8em;
}

